body {
    height: 100vh;
    margin: 0;

    display: flex;
    justify-content: center;
}

.players {
    display: flex;
    justify-content: space-around;
}

.player1, .player2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 0 5px;
    /* align-content: space-around; */
}

label[for = 'player1-name'], label[for = 'player2-name'] {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: aliceblue;
}

.main-container {
    width: 65%;
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.gameboard {
    width: 500px;
    height: 500px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

div[class^="grid"] {
    background-color: antiquewhite;
    border: 1px solid black;
}